div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
    width: 600px;
  }
  
  .arc text {
    font-size: 5px;
    fill: rgb(65, 63, 63);
    text-anchor: middle;
  }